html
    head 
        title Hiten Sharma 
        link(rel="stylesheet", href=require("./scss/main.scss"))
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Hiten Sharma is a Web Developer and Blockchain Consultant")
        meta(name="keywords" content="Hiten, htadg, portfolio, blockchain, java, python, javascript, developer")
        meta(name="author" content="Hiten Sharma")
        meta(content="Hiten's Portfolio" property="og:title")
        meta(content="article" property="og:type")
        meta(content="http://htadg.github.io/favicon.ico" property="og:image")
        meta(content="http://htadg.github.io" property="og:url")
        meta(content="Hiten Sharma is a Python and Javascript Developer" property="og:description")
        meta(content="Hiten's portfolio" name="twitter:card")
        meta(content="Python &amp; Javascript Developer" name="twitter:title")
        meta(content="Hiten Sharma is a Web Developer and Blockchain Consultant" name="twitter:description")
        meta(content="http://htadg.github.io/favicon.ico" name="twitter:image")
        meta(rel="apple-touch-icon" sizes="180x180" href=require("./apple-touch-icon.png"))
        meta(rel="icon" type="image/png" sizes="32x32" href=require("./favicon-32x32.png"))
        meta(rel="icon" type="image/png" sizes="16x16" href=require("./favicon-16x16.png"))
        meta(rel="shortcut icon" type="image/ico" href=require("./favicon.ico"))
        <!-- Google tag (gtag.js) -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-MMKB9DZDTF")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-MMKB9DZDTF');
    body 
        .main_container
            .header
                .left
                    .name 
                        span.bold.first HITEN
                        span SHARMA
                    .roles 
                        code Web3 Enthusiast
                        code Developer
                        code Mentor
                    .resume
                        a(target="_blank" href=require("./HitenSharma_Resume.pdf")).text.bold Download Resume
                .right
                    img(src=require("./svg/hiten_sharma.svg") alt="Hiten Sharma")
            .footer
                .links
                    a(target="_blank" href="https://www.github.com/htadg").link 
                        img(src=require("./svg/github.svg") alt="Github")
                    a(target="_blank" href="https://www.linkedin.com/in/htadg").link 
                        img(src=require("./svg/linkedin.svg") alt="LinkedIn")
                    a(target="_blank" href="mailto:sharma.hiten3@gmail.com").link 
                        img(src=require("./svg/email.svg") alt="Email")
                    a(target="_blank" href="https://t.me/htadg").link 
                        img(src=require("./svg/telegram.svg") alt="Telegram")
                    

        script(src=require("./js/main.js")) 
