html
    head 
        title Hiten Sharma 
        link(rel="stylesheet", href=require("./scss/main.scss"))
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Hiten Sharma is a Python and Javascript Developer")
        meta(name="keywords" content="Hiten, htadg, portfolio, python, javascript, developer")
        meta(name="author" content="Hiten Sharma")
        meta(content="Hiten's Portfolio" property="og:title")
        meta(content="article" property="og:type")
        meta(content="http://htadg.github.io/favicon.ico" property="og:image")
        meta(content="http://htadg.github.io" property="og:url")
        meta(content="Hiten Sharma is a Python and Javascript Developer" property="og:description")
        meta(content="Hiten's portfolio" name="twitter:card")
        meta(content="Python &amp; Javascript Developer" name="twitter:title")
        meta(content="Hiten Sharma is a Python and Javascript Developer" name="twitter:description")
        meta(content="http://htadg.github.io/favicon.ico" name="twitter:image")
        meta(rel="apple-touch-icon" sizes="180x180" href=require("./apple-touch-icon.png"))
        meta(rel="icon" type="image/png" sizes="32x32" href=require("./favicon-32x32.png"))
        meta(rel="icon" type="image/png" sizes="16x16" href=require("./favicon-16x16.png"))
        meta(rel="manifest" href=require("./site.webmanifest"))
        meta(rel="shortcut icon" type="image/ico" href=require("./favicon.ico"))
        script.
            //- (function(i, s, o, g, r, a, m) {
            //-     i['GoogleAnalyticsObject'] = r;
            //-         i[r] = i[r] || function() {
            //-         (i[r].q = i[r].q || []).push(arguments)
            //-     }, i[r].l = 1 * new Date();
            //-     a = s.createElement(o),
            //-         m = s.getElementsByTagName(o)[0];
            //-     a.async = 1;
            //-     a.src = g;
            //-     m.parentNode.insertBefore(a, m)
            //- })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            //- ga('create', 'UA-75024902-1', 'auto');
            //- ga('send', 'pageview');
    body 
        .main_container
            .left_panel
                h1.name Hiten Sharma 
                .line.center
                .designation
                    div.area
                        ul.list 
                            li.item WEB DEVELOPER
                            li.item JAVA DEVELOPER
                            li.item PYTHON DEVELOPER
                            li.item BLOCKCHAIN DEVELOPER
                            li.item WEB3 ENTHUSIAST
                            li.item SYSTEM ENGINEER
                .line.center
                .links 
                    ul 
                        li Home 
                        li About 
                        li Contact
            .right_panel 
                h1 Details


        script(src=require("./js/main.js")) 
